@page
@model WebApp1.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
