@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">互動式網頁程式設計 期末作業</h1>
    <p>資工三 111010576 王若馨</p>
</div>


<div class="text-center mt-4">
    <div class="alert alert-primary d-inline-block" role="alert">
        <p>Login後才能進行其他操作</p>
        <hr>
        <p class=btn btn-secondary><a href="/Login">Login</a></p>
    </div>
</div>
